.cssColor1{
    background-color: teal;
}
.cssColor2{
    background-color: skyblue;
}
.cssColor3{
    background-color: grey;
}
.commonCssColors{
    color: white;
    padding: 20px;
    margin: 20px;
}
/* P7.HTML */
.jumbotron{
    background-color: #8e44ad;
    border-radius: 10px;
}
.cssFont{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-variant: small-caps;
}
.cssText{
    text-align: justify;
    line-height: 2;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}
.cssText>p{
    text-indent: 100px;
}
/* P8.HTML */
.navBar{
    background-color: gray;
}
.navBar>ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    float: right;
}
.navBar>ul>li{
    display: inline-block;
    padding: 20px;
}
.navBar>ul>li>a{
    color: #fff;
    text-decoration: none;
}
.navBar>ul>li:hover{
    background-color: #fff;
}
.navBar>ul>li:hover a{
    color: grey;
}
.navBar>img{
    height: 100px;
}
/* LIST MARKER POSITION */
.list-marker-position>ol>li{
    background-color: teal;
    padding: 20px;
    margin-bottom: 20px;
    list-style-position: inside;
}
.list-marker-position>ol>li>a{
    color: #fff;
    text-decoration: none;
}
.list-marker-position>ol>li:marker{
    color: yellow;
    font-size: 30px;
    font-weight: bold;
}
/* USING IMAGE AS BULLET POINT */
.list-icon>ul>li{
    list-style-image: url(../image/pin.png);
}

/* LIST SHORTHAND PROPERTY */
.list-shorthand>ul>li{
    background-color: teal;
    padding: 20px;
    margin-bottom: 20px;
    /* list-style-type: decimal;
    list-style-position: inside;
    list-style-image: url(../image/icon.png);*/
    list-style: decimal inside url(../image/pin.png);
}
/* P9.HTML */
/* empty-cell-table */
.empty-cell-table{
    empty-cells: hide;
}
/* ODD-EVEN TABLE..! */
.odd-even-table, .odd-even-table th, .odd-even-table td{
    border: 2px solid black;
    padding: 20px;
    border-collapse: collapse;
    color: #fff;
}
/*.odd-even-table{
   background-color: purple;
} */
.odd-even-table tr:nth-child(odd){
    background-color: lightblue ;
}
.odd-even-table tr:nth-child(even){
    background-color: rgb(28, 129, 163) ;
}
.odd-even-table tr:hover{
    background-color: grey;
}
.odd-even-table th{
    background-color: rgb(54, 46, 46);
}
.odd-even-table>caption{
    color: rgb(46, 44, 44);
    font-weight: bold;
    caption-side: bottom;
}
.odd-even-table td{
    height: 200px;
    vertical-align: text-top;
}
.layout-table, .layout-table th, .layout-table td{
    border: 2px solid #808088;
    border-collapse: collapse ;
    padding: 20px;

}
.layout-table{
    width: 10px;
    table-layout:fixed;
}
.layout-table td, .layout-table th{
    overflow: scroll;
}
/* p10.html */
*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: gray;
}
header>nav>ul>{
    list-style-type: none;
    float: right;
}
header>nav>img{
    height: 64px;
}
header>nav>ul>li{
    display: inline-block;
    padding: 25px;
}
header>nav>ul>li:hover{
    background-color: #fff;
}
header>nav>ul>li:hover a{
    color: #808080;
}
header>nav>ul>li>a{
    color: #fff;
    text-decoration: none;
}
/* P11.HTML and P12.HTML CODE*/
.banner1{
    background-color: #bbb ;
}
.bannerCommonClass{
    color: #808080;
    padding: 30px;
    height: 300px;
    text-align: center;
}
.bannerCommonClass>h1{
    font-size: 50px;
}
.bannerCommonClass>h1:hover{
    color: #000;
}
.banner2{
    background-image: url(../image/image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

